/* Custom styles for index.html */

.wd-image-container {
    position: relative;
    text-align: center;
  }
  
  .wd-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .wd-trending,
  .wd-trending-area,
  .wd-follow {
    margin-top: 20px;
  }
  
  .wd-trending h2,
  .wd-trending-area h2,
  .wd-follow h2 {
    margin-bottom: 10px;
  }
  
  .wd-tweets {
    margin-top: 20px;
  }
  
  .wd-tweets .card {
    margin-bottom: 10px;
  }
  
  .btn-tuit {
    margin-top: 20px;
    width: 100%;
  }
  
  @media (max-width: 767px) {
    .col-md-2 {
      display: none;
    }
  }
  